coverage
src
test
node_modules
scripts
.eslintignore
.flowconfig
.travis.yml
codecov.yml
yarn.lock
.nyc_output
.vscode
.eslintrc
babel-preset-env-*.tgz
flow-typed
npm-debug.log*
yarn-debug.log*
yarn-error.log*
